.solution-final
{
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.3s ease;
	will-change: transform;
	overflow: hidden;

	&:hover
	{
		transform: perspective(1000px) rotateX(5deg) rotateY(5deg) translateZ(20px);

		&::before
		{
			transform: translateZ(-20px);
		}
	}

	// Aplica o efeito 3D apenas para os filhos diretos e evita problemas de renderização
	& > *
	{
		transform: translateZ(30px);
		backface-visibility: hidden;
	}
}

.solution-final::before
{
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	background: repeating-linear-gradient(
		45deg,
		transparent 0%,
		transparent 5%,
		rgb(0, 0, 0) 5%,
		rgba(0, 0, 0, 0.4) 10%
	);

	animation: solution-shine 3s infinite linear;
	opacity: 0.15;
	backface-visibility: hidden;
}

.solution-final::after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid transparent;
	border-radius: 15px;
	animation: solution-border-pulse 3s infinite;
	backface-visibility: hidden;
}

.solution-final h5
{
	color: #00ff88 !important;
	font-size: 2rem !important;
	text-shadow: 0 0 15px rgba(0, 255, 136, 0.4);
	position: relative;
}

.solution-final h5::after
{
	content: '✅';
	margin-left: 15px;
	filter: drop-shadow(0 0 5px #00ff88);
	animation: solution-float 2s ease-in-out infinite;
}

.solution-final p
{
	font-size: 1.8rem;
	text-align: center;
	margin: 15px 0;
}

.solution-final p.text-muted
{
	color: #66ffb2 !important;
	font-size: 1.2rem;
	text-shadow: 0 0 10px rgba(0, 255, 136, 0.4);
}

.solution-final p.text-center
{
	padding: 8px 20px;
	border: 1px solid rgba(0, 255, 136, 0.3);
	border-radius: 8px;
	background: linear-gradient(
		to right,
		rgba(0, 255, 136, 0.05),
		rgba(0, 255, 136, 0.02)
	);

	box-shadow: 0 0 12px 
		rgba(0, 255, 136, 0.1),
		inset 0 0 8px rgba(0, 255, 136, 0.05);

	position: relative;
	margin: 15px 0;
}

// Animações
@keyframes solution-border-pulse
{
	0% {
	border-color: transparent;
	}
	50% {
	border-color: #00ff88;
	}
	100% {
	border-color: transparent;
	}
}

@keyframes solution-shine
{
	from {
	transform: translateY(0) rotate(45deg);
	}
	to {
	transform: translateY(100%) rotate(45deg);
	}
}

@keyframes solution-float
{
	0% {
	transform: translateY(0);
	}
	50% {
	transform: translateY(-10px);
	}
	100% {
	transform: translateY(0);
	}
}
